<%- include("partials/header.ejs") %>
    <h1 class="my-4">Edit your Post</h1>
    <% if (locals.post) { %>
        <!-- Prevents form from submitting HTML other than what's on the form -->
        <form id="update" onsubmit="event.preventDefault()">
            <fieldset class="d-flex flex-column form-group ">
                <label for="title">Title:</label><br>
                <input type="text" name="title" id="title" class="col-lg-6 col-sm-12" value="<%= post.title %>"
                    required><br>
                <label for="author">Author:</label><br>
                <input type="text" name="author" id="author" class="col-lg-6 col-sm-12" value="<%= post.author %>"
                    required><br>
                <label for="content">Your Content:</label><br>
                <textarea name="content" id="content" class="col-lg-6 col-sm-12" cols="40" rows="25"
                    required><%= post.content %></textarea><br>
            </fieldset>
        </form>
        <input type="button" form="update" value="Submit" class="btn btn-outline-success submit-btn"
            onclick="updatePost()">
        <a href="../"><button class="btn btn-outline-dark">Cancel</button></a>
        <% } %>

            <script>
                const postId = window.location.pathname.split('/').pop();

                function updatePost() {
                    const formData = {
                        title: document.getElementById('title').value,
                        author: document.getElementById('author').value,
                        content: document.getElementById('content').value
                    };

                    fetch(`/update/${postId}`, {
                        method: 'PUT',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify(formData)
                    })
                        .then(res => res.json())
                        .then(data => {
                            alert('Post updated successfully!');
                            window.location.href = '/';
                        })
                        .catch(err => alert('Error updating post: ' + err));
                }
            </script>

            <%- include("partials/footer.ejs") %>