<%- include("partials/header.ejs") %>
    <div class="text-center">
        <h1>The Last Story</h1>
        <h2>Share your Interests and Curiosity for the World to see.</h2>
        <a href="/create"><button>Create Post</button></a>
    </div>
    <h2>Recent Posts</h2>
    <% if (locals.posts && locals.posts.length> 0) { %>
        <% posts.forEach((post, index)=> { %>
            <a href="/blogpost/<%= index %>">
                <section class="card">
                    <p>
                        <%= post.title %>
                    </p>
                    <p>
                        <%= post.author %>
                    </p>
                </section>
            </a>
            <% }); %>
                <% } else { %>
                    <p>No Posts at this time.</p>
                    <% } %>

                        <%- include("partials/footer.ejs") %>